li.busy {
    background-color: #8b8c8d;
}

h1, h2, h3, h4 {
    color: #FFFFFF;
    font-family: inherit;
}

h1 {
    margin: .3em 0;
}

.download {
    display: block;
}

body{
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.todoapp{
    max-width:550px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: initial;
}



.header-section {
    text-align: center;
    background-color: #000;
}

label {
    font-weight: inherit;
}

@font-face{
    font-family:kaazing-icons;
    src:url(../fonts/kaazing-icons.eot);
    src:url(../fonts/kaazing-icons-ie.eot) format("embedded-opentype"),
    url(../fonts/kaazing-icons.ttf) format("truetype"),
    url(../fonts/kaazing-icons.woff) format("woff"),
    url(../fonts/kaazing-icons.svg) format("svg");
    font-weight:400;
    font-style:normal
}


